<div class="content-wrapper">
  <div class="content-box">
    <div class="box-header" style="flex-basis: 0; flex-grow: 1">
      <%= t('views.new') %> <%= t('views.team') %>
    </div>
    <div class="box-content"></div>
    <%= render 'form' %>
  </div>
</div>


