<% if @users != nil %>
  <div class="user-wrapper">
    <table class="user_table">
      <tr>
        <th>Vorname</th>
        <th>Nachname</th>
        <th colspan="2">Email</th>
      </tr>
      <tr>
         <%= render @users %>
      </tr>
    </table>
  </div>
  <%= will_paginate @users %>
<% end %>