<% provide(:title, "Messanger") %>
<h1>Messanger</h1>
<div class="row">
  <div class="col-xs-4">
    <h3>Mailbox</h3>
    <ul class="list-group conversation_list">
      <% if @conversations.any? %>
          <%= render @conversations %>
      <% end %>
    </ul>
    <h3>All Users</h3>
    <ul class="list-group">
      <% @users.each do |user| %>
          <% if user.id != current_user.id %>
                <%= link_to user.email, "#", class: "list-group-item open-conversation",
                            "data-sid" => current_user.id, "data-rip" => user.id %>
          <% end %>
      <% end %>
    </ul>
  </div>
  <div class="chat_box_wrapper col-xs-8">

  </div>
</div>