<div class="messages">
  <div class="left-side-wrapper">
    <div class="list-box">
      <div class="box-title">
        Mailbox
      </div>
      <div class="conversation_list">
        <% if @conversations.any? %>
            <%= render @conversations %>
        <% end %>
      </div>
    </div>

    <div class="list-box">
      <div class="box-title">
        All Users
      </div>
      <% @users.each do |user| %>
          <% if user.id != current_user.id %>
              <div class="list-item">
                <div class="list-item-content open-conversation" data-sid="<%= current_user.id %>" data-rip="<%= user.id %>">
                  <%= user.email %>
                </div>
              </div>
          <% end %>
      <% end %>
    </div>
  </div>
  <div class="chat_box_wrapper right-side-wrapper">

  </div>
</div>