<div class="chat_box">
  <div class="chat_box_head">
      <%= @reciever.first_name %>
  </div>
  <div class="chat_box_content">
    <% if @messages.any? %>
        <%= render @messages %>
    <% end %>
  </div>
  <div class="chat_box_input">
    <textarea class="chat_box_textarea" placeholder="Nachricht..."></textarea>
    <div class="input-button chat_box_submit">
      <input type="button" value="SENDEN">
    </div>
  </div>
</div>
