<div class="chat_box">
  <div class="chat_box_head">
    <div class="chat_box_title">
      <h3><%= @reciever.email %> </h3>
    </div>
  </div>
  <div class="chat_box_content">
    <% if @messages.any? %>
        <%= render @messages %>
    <% end %>
  </div>
  <div class="chat_box_input">
    <textarea class="chat_box_textarea" placeholder="Einagbe..."></textarea>
    <a class="chat_box_submit btn btn-primary btn-block">Send</a>
  </div>
</div>
