<div class="chat_box">
  <div class="chat_box_head">
      <%= @reciever.email %>
  </div>
  <div class="chat_box_content">
    <% if @messages.any? %>
        <%= render @messages %>
    <% end %>
  </div>
  <div class="chat_box_input">
    <input class="chat_box_textarea" placeholder="message..." type="text"/>
    <div class="input-button chat_box_submit">
      <input type="button" value="SEND">
    </div>
  </div>
</div>
