<% provide(:title, "Welcome") %>
<h1>Hello World</h1>
<p>
  I'm alive!!!! <br>
  The time is now: <%= Time.now %>
  Test
</p>
<p>
  <a id="push_notify_all" class="btn btn-default btn-lg">PUSH TO ALL</a>
</p>