<% provide(:title,  t('.title')) %>



<div id="calendar_wrapper">
    <%= link_to new_event_path do %>
    <div class="new_event_link">
        Termin hinzugügen
    </div>
    <% end %>
    <div id="calendar"></div>
</div>
