<div class="edit_event_wrapper">
    <h1>Termin erzeugen</h1>

    <%= render 'form' %>
    <div class="navi_links">
        <%= link_to events_path do %>
            <div class="button">Zurück zum Kalender</div>
        <% end %>
    </div>
</div>
