<div class="content-wrapper">
  <div class="content-box">
    <div class="box-header" style="flex-basis: 0; flex-grow: 1">New Project</div>
    <div class="box-content"></div>
    <%= render 'form' %>
  </div>
</div>
