<% if @users != nil %>
    <% provide(:title, "Nutzer") %>
    <div class="user-wrapper">
      <div class="row">
        <div class="box-header">
          <div><%= t('views.users') %></div>
        </div>
        <div class="headline-button">
          <% if can? :create, User %>
              <div class="list-box">
                <%= link_to new_user_path do %>
                      <div class="button"><%= t('views.new') %> <%= t('views.user') %></div>
                <% end %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
<% end %>