/* universal */
@import "colors";

.background-image {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $main-background;
  background-size: cover;
}

.content-wrapper {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.content-box {
  background-color: $primary-color;
  box-shadow: $box-shadow;
  margin: 0 15px 0 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 200px;
}

.main-container {
  width: 100%;
  min-height: 90vh;
  overflow-y: scroll;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.left-side-wrapper {
  display: flex;
  background-color: $primary-color;
  box-shadow: $box-shadow;
  margin: 5px;
  padding: 10px;
  overflow-y: scroll;
  flex-flow: column;
  flex-grow: 1;
  flex-basis: 0;

  div {
    justify-content: flex-start;
    align-items: center;
    padding: 12px;
  }
}

.right-side-wrapper {
  display: flex;
  justify-content: center;
  margin: 5px;
  flex-grow: 5;
  flex-basis: 0;
}

.input-button {
  flex-grow: 2;
  display: flex;
  align-self: right;
  input {
    height: 100%;
    width: 100%;
    cursor: pointer;
    border: 0;
    background-color: $primary-accent-color;
    color: $primary-color-dark-text;
    padding: 12px;
    border-radius: 3px;
    box-shadow: $box-shadow;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    &:hover {
      box-shadow: $box-shadow-hover;
    }
  }
}

.button {
  display: flex;
  background-color: $primary-accent-color;
  box-shadow: $box-shadow;
  padding: 8px;
  border-radius: 3px;
  transition: all 0.3s;
  justify-content: center;
  cursor: pointer;
  &:hover {
    box-shadow: $box-shadow-hover;
    transition: all 0.3s;
  }
}

section {
  overflow: auto;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2.6em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.debug_dump {
  background-color: $primary-color;
}

.row {
  display: flex;
  flex-flow: row;
  div {
    flex-grow: 1;
  }
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: $primary-accent-color;
}

.list-box .sidebar-icon {
  padding: 0;
  flex-grow: 1;
  flex-basis: 0;
  align-self: flex-start;
}

.list-box .sidebar-item-name {
  padding: 0;
  flex-grow: 2;
  flex-basis: 0;
  justify-content: center;
  justify-self: center;
}