/* universal */
@import "colors";

.content-wrapper {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.content-box {
  background-color: $primary-color;
  box-shadow: $box-shadow;
  margin: 0 5px 10px 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 200px;
}

.input-button {
  flex-grow: 2;
  display: flex;
  align-self: right;
  input {
    height: 100%;
    width: 100%;
    cursor: pointer;
    border: 0;
    background-color: $primary-accent-color;
    color: $primary-color-dark-text;
    padding: 12px;
    border-radius: 3px;
    box-shadow: $box-shadow;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    &:hover {
      box-shadow: $box-shadow-hover;
    }
  }
}

.button {
  display: flex;
  background-color: $primary-accent-color;
  box-shadow: $box-shadow;
  padding: 8px;
  border-radius: 3px;
  transition: all 0.3s;
  justify-content: center;
  cursor: pointer;
  &:hover {
    box-shadow: $box-shadow-hover;
    transition: all 0.3s;
  }
}

.button .material-icons {
  font-size: 1.6em;
}

.field {
  margin: 20px;
  input {
    padding: 12px;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $primary-color-dark;
    box-sizing: border-box;
    transition: all 0.3s;
    &:focus{
      border-color: $primary-accent-color;
      outline: none;
      transition: all 0.3s;
    }
  }
}

.debug_dump {
  background-color: $primary-color;
}

.row {
  display: flex;
  flex-flow: row;
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: $primary-accent-color;
}

.list-box .sidebar-icon {
  padding: 0;
  flex-grow: 1;
  flex-basis: 0;
  align-self: flex-start;
}

.list-box .sidebar-item-name {
  padding: 0;
  flex-grow: 2;
  flex-basis: 0;
  justify-content: center;
  justify-self: center;
}

#notice:empty {
  display: none;
}

#notice{
  background-color: $primary-color;
  box-shadow: $box-shadow;
  padding: 20px;
  margin-bottom: 5px;
  margin-right: 5px;
}

