/* universal */
@import "colors";
main{
  padding-top: 80px;
}

.main-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.button {
  flex-grow: 2;
  display: flex;
  align-self: right;
  input {
    height: 100%;
    width: 100%;
    border: 0;
    cursor: pointer;
    background-color: $primary-accent-color;
    color: $primary-color-dark-text;
    padding: 12px;
    border-radius: 3px;
    box-shadow: $box-shadow;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover {
      box-shadow: $box-shadow-hover;
    }
  }
}

section {
  overflow: auto;
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2.6em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.debug_dump {
  background-color: $primary-color;
}

.toast {
  background-color: $primary-accent-color !important;
  box-shadow: $box-shadow-hover !important;
  color: $primary-color-text !important;
}