@import "colors";
.dashboard {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 800px;
}

.dashboard .material-icons{
  color: $primary-color-text;
  font-size: 32px;
}

.dashboard-content-box {
  background-color: $primary-color;
  box-shadow: $box-shadow;
  margin: 15px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 200px;
}

.box-header {
  display: flex;
  flex-flow: row;
  font-size: large;
  align-items: center;
  height: 20px;
  flex-grow: 1;
  min-width: 20%;
  margin: 5px;
  padding: 15px;
  align-self: flex-start;
  border-bottom: thin solid $primary-color-dark;
}

.box-content {
  justify-content: space-between;
  align-self: center;
  flex-grow: 5;
}