@import "colors";

.dashboard {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 800px;
}

.dashboard .material-icons {
  color: $primary-color-text;
  font-size: 32px;
}

.dashboard-content-box {
  background-color: $primary-color;
  box-shadow: $box-shadow;
  margin: 15px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 200px;
}

.box-header {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  flex-flow: row;
  font-size: large;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  min-width: 20%;
  margin: 5px;
  padding: 15px;
  align-self: flex-start;
  border-bottom: thin solid $primary-color-dark;
  white-space: nowrap;
}

.box-content {
  justify-content: flex-start;
  align-self: center;
  flex-grow: 5;
}

.headline-button {
  display: flex;
  flex-basis: 0;
  flex-grow: 20;
  justify-content: flex-end;
  padding: 8px;
  a{
    color: $primary-color-dark-text;
  }
}