@import "colors";

$nav-item-height: 60px;

header {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.header {
  display: flex;
  flex-flow: row wrap;
  background-color: $primary-color;
  box-shadow: $box-shadow;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
  padding: 10px;
}

.logo {
  left: 20px;
  flex-grow: 1;
  flex-basis: 0;
  img {
    width: $nav-item-height;
    box-shadow: $box-shadow;
  }
}

.custom-nav {
  flex-grow: 2;
  flex-basis: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-self: center;
  a {
    text-decoration: none;
  }
}

.links {
  align-self: center;
  display: flex;
  flex-flow: row wrap;
  .row {
    margin: 0 10px 0 10px;
    &:hover {
      box-shadow: $box-shadow-hover;
      cursor: pointer;
    }
  }
}

.nav-item {
  display: flex;
  flex-flow: row nowrap;
  z-index: 2;
  background-color: $primary-accent-color;
  padding: 0 12px;
  border-radius: 3px;
  height: $nav-item-height;
  justify-content: center;
  align-items: center;
  //box-shadow: $box-shadow;
  transition: all 0.3s;
  .material-icons{
    padding-right: 8px;
  }
}

body .material-icons {
  color: $primary-color-dark-text;
  font-size: 30px;
}

.user-box {
  display: flex;
  flex-flow: row;
  position: relative;
  justify-content: flex-end;
  height: $nav-item-height;
  transition: all 0.3s;
  flex-grow: 1;
  flex-basis: 0;
}

.user-logout {
  display: flex;
  height: 0;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  padding: 0;
  color: $primary-color-text;
  background-color: $primary-color-dark-text;
  transition: all 0.3s;
  &:hover {
    color: $primary-accent-color;
  }
}

.user_content {
  align-self: center;
  border-radius: 3px;
  display: flex;
  flex-flow: column;
  background-color: $primary-color-dark-text;
  box-shadow: $box-shadow;
  transition: all 0.3s;
  &:hover {
    box-shadow: $box-shadow-hover;
    cursor: pointer;
    margin-top: 43px;
    transition: all 0.3s;
  }
  .row {
    background-color: $primary-accent-color;
    padding: 16px 32px;
  }
}

.user_content:hover .user-logout {
  display: flex;
  height: 35px;
  transition: all 0.3s;
  padding: 4px;
}
