$margin: 20px;

.content {
  margin-top: -80px;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  width: 100%;
  height: 100vh;
}

.login-box {
  background-color: #f5f5f5;
  border: thin solid #f0f0f0;
  border-radius: 5px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  width: 400px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  a {
    font-size: 8px;
    align-self: center;
    :hover, :visited, :active {
      color: pink;
    }
  }
}

.login-field {
  margin: $margin;
  input {
    border-radius: 3px;
    padding: 12px;
    width: 100%;
    border: 0;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
}

.remember-login-row {
  margin: $margin+10 $margin $margin $margin;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.remember-me {
  flex-grow: 2;
  display: flex;
  align-self: center;
  white-space: nowrap;
}

.login-button {
  flex-grow: 2;
  display: flex;
  align-self: right;
  input {
    height: 100%;
    width: 100%;
    border: 0;
    cursor: pointer;
    background-color: #eaeaea;
    padding: 12px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover {
      box-shadow: 0 4px 7px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22);
    }
  }
}