@import "colors";
.team-table{
  padding: 20px;
  width: 100%;
  color: $primary-color-text;
  tr td:first-child{
    width: 100%;
  }
  td{
    padding-left: 20px;
  }
  tr:hover{
    background-color: $primary-color-dark;
  }
}

.new-team{
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  a{
    color: $primary-color-dark-text;
  }
}