@import "colors";

.team-member {
  width: 100%;
  padding: 20px;
  tr:hover {
    background-color: $primary-color-dark;
  }
  td {
    padding: 8px;
  }
}

.team-table{
  padding: 20px;
  width: 100%;
  color: $primary-color-text;
  tr td:first-child{
    width: 100%;
  }
  td{
    padding-left: 20px;
  }
  tr:hover{
    background-color: $primary-color-dark;
  }
}

