<div style="display:block">
<h1>Neues Termin</h1>

<%= render 'form' %>

<%= link_to appointments_path(params) do %>
    <div class="button"><i class="material-icons"></i> Zurück zum Übersicht</div>
<% end %>

</div>
