
<style>
  body{
    padding-bottom: 60px;
  }
  .footer {
    margin-top: 60px;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
    padding-top: 10px;
  }
</style>
<footer class="footer navbar-fixed-bottom">
  <div class="container">
    <p class="text-muted">Place super footer content here.</p>
  </div>
</footer>
